@charset "UTF-8"; /* Set charset UTF-8 */

/* 
    css/styles.css
    Author: Jordan Hay
*/

/* Import Fonts */
@import url('https://fonts.googleapis.com/css?family=Roboto'); 

/* Every Element (Ones below will overide if need be) */
* {
    font-family: 'Roboto', sans-serif;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body, html {
    margin: 0;
    padding: 0;
}

/* Animations */

@keyframes fade-in {
    from {
        opacity: 0;
    } to {
        opacity: 1;
    }
}

@keyframes fade-out {
    from {
        opacity: 1;
    } to {
        opacity: 0;
        z-index: 1;
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    } to {
        transform: rotate(360deg);
    }
}

@keyframes background-zoom {
    from {
        transform: scale(1);
    } to {
        transform: scale(1.05);
    }
}

@keyframes slide-in-left {
    from {
        position: relative;
        left: -100%;
    } to {
        position: relative;
        left: 0%;
    }
}

/* Responsive */

/* Mobile */
[class*="col-"] {
    width: 100%;
    float: left;
    padding: 5px;
}

.mobile-only {
    display: inline-block;
}

.desktop-only {
    display: none;
}
  
/* Desktop */
@media only screen and (min-width: 768px) {
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
    .mobile-only {display: none;}
    .desktop-only {display: inline-block;}
}

/* Horizontal Line */
hr {
    opacity: 0.2;
}

/* Header */

header.index {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    background-color: #231f20;
    height: 60px;
    z-index: 1;
}

header.index img {
    float: right;
    height: inherit;
}

/* Nav */

nav {
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    background-color: #231f20;
    width: 60px;
    z-index: 1;
    text-align: center;
}

nav a {
    color: RGBA(255, 255, 255, 0.5);
    background-color: #231f20;
    text-decoration: none;
    font-size: 22pt;
    margin: 0;
    width: 100%;
    padding: 15px 0px;
    transition: 0.3s ease all;
    display: block;
    text-align: center;
    height: 60px;
}

nav a:hover {
    color: RGBA(255, 255, 255, 0.9);
}

nav a.active {
    color: #231f20;
    background-color: #e9e9e9;
}

nav a.active:hover {
    color: #231f20;
}

nav a span.nav-text {
    position: relative;
    top: -31px;
    left: -150vw;
    transition: 0.7s ease all;
    padding: 14px;
    background-color: #231f20;
    color: white;
    white-space: nowrap;
    font-weight: normal;
    z-index: -1;
    font-size: 20pt;
}

nav a:hover span.nav-text {
    left: 100%;
    transition: 0.3s ease all;
}

nav a.active:hover span.nav-text {
    left: 100%;
    background-color: #e9e9e9;
    color: #231f20;
}

/* Main */

main {
    animation: fade-in 1.2s 1s forwards;
    z-index: 2;
    margin-left: 50px; /* Nav offset */
    padding: 20px;
}

/* Loading */

#loading-screen {
    background-color: #231f20;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 10;
}

#loading-spinner {
    animation: spin 1s infinite linear;
    position: relative;
    left: 50vw;
    top: 50vh;
    width: 50px;
    height: 50px;
    margin-left: -25px;
    margin-top: -25px;
}

/* Background image */

#background-image {
    position: fixed;
    top: 0;
    left: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 60% bottom;
    height: 100vh; /* 100% height of viewport */
    width: 100vw;
    margin: 0;
    z-index: 0;
    overflow: hidden;
}

/* Index */

/* Index Background image */
#background-image.index {
    background-image: url(../img/cover.jpg);
}

#home-page img.desktop-only {
    position: fixed;
    width: 30vw;
    bottom: 27%;
    margin-left: 13vw;
}

#home-page img.mobile-only {
    position: relative;
    max-width: 70vw;
    margin: 0 auto;
    top: 9vh;
}