@charset "UTF-8"; /* Set charset UTF-8 */

/* 
    css/styles.css
    Author: Jordan Hay
*/

/* Import Fonts */
@import url('https://fonts.googleapis.com/css?family=Montserrat|Open+Sans&display=swap'); 

/* Every Element (Ones below will overide if need be) */
* {
    font-family: 'Open Sans', sans-serif;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body, html {
    margin: 0;
    padding: 0;
}

/* Animations */

@keyframes fade-in {
    from {
        opacity: 0;
    } to {
        opacity: 1;
    }
}

@keyframes fade-out {
    from {
        opacity: 1;
    } to {
        opacity: 0;
        z-index: 1;
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    } to {
        transform: rotate(360deg);
    }
}

@keyframes background-zoom {
    from {
        transform: scale(1);
    } to {
        transform: scale(1.05);
    }
}

@keyframes slide-in-left {
    from {
        left: -100%;
    } to {
        left: 0%;
    }
}

/* Responsive */

/* Mobile */
[class*="col-"] {
    width: 100%;
    float: left;
    padding: 5px;
}

.mobile-only {
    display: inline-block;
}

.desktop-only {
    display: none;
}
  
/* Desktop */
@media only screen and (min-width: 768px) {
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
    .mobile-only {display: none;}
    .desktop-only {display: inline-block;}
}

/* Headings */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
}

/* Horizontal Line */
hr {
    opacity: 0.2;
}

/* Nav */

nav {
    position: fixed;
    left: 0;
    height: 100vh;
    background-color: #231f20;
    z-index: 2;
    padding-top: 10px;
    width: 70px;
    z-index: 1;
}

nav a {
    color: RGBA(255, 255, 255, 0.5);
    text-decoration: none;
    font-size: 25pt;
    margin: 15px;
    transition: 0.2s ease all;
    display: block;
}

nav a:hover {
    color: RGBA(255, 255, 255, 0.9);
}

nav a.active {
    color: RGBA(255, 255, 255, 0.9);
}

nav a.active:hover {
    color: RGBA(255, 255, 255, 0.9);
    cursor: default;
}

/* Main */

main {
    animation: fade-in 1.2s 1s forwards;
    z-index: 2;
}

/* Loading */

#loading-screen {
    background-color: #231f20;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 10;
}

#loading-spinner {
    animation: spin 1s infinite linear;
    position: relative;
    left: 50vw;
    top: 50vh;
    width: 50px;
    height: 50px;
    margin-left: -25px;
    margin-top: -25px;
}

/* Background image */

#background-image {
    position: fixed;
    top: 0;
    left: 0;
    animation: background-zoom 1.5s 1.2s forwards;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100vh; /* 100% height of viewport */
    width: 100vw;
    margin: 0;
    z-index: 0;
    overflow: hidden;
}

/* Index */

/* Index Background image */
#background-image.index {
    background-image: url(../img/cover.jpg);
}

/* Footer */

footer {
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 10px;
    padding: 0;
    max-width: 50vw;
    width: 387px; /* Matches footer img width */
    text-align: right;
    z-index: 1;
}

footer img {
    margin: 0;
    margin-bottom: -5px;
    padding: 5px;
    width: 100%;
    background-color: #231f20;
}

footer small, footer small a {
    background-color: #231f20;
    margin: 0;
    color: white;
    margin: 0 auto;
    text-align: center;
}